<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="compiler" name="Compiler extension point" schema="schema/compiler.exsd"/>
   <extension
         id="goloNature"
         name="Golo nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.gololang.gldt.jdt.internal.GoloProject">
         </run>
      </runtime>
      <builder
            id="org.golo-lang.gldt.jdt.goloBuilder">
      </builder>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
   </extension>
   <extension
         id="goloBuilder"
         name="Golo builder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="false"
            hasNature="true"
            isConfigurable="false"
            supportsConfigurations="false">
         <run
               class="org.gololang.gldt.jdt.internal.GoloBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.gololang.gldt.jdt.internal.handlers.ToggleGoloNatureHandler"
            commandId="org.golo-lang.gldt.jdt.commands.toggleGoloNatureCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.golo-lang.gldt.jdt.commands.toggleGoloNatureCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="org.golo-lang.gldt.jdt.commands.toggleGoloNatureCommand"
               label="Add Golo nature"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="true"
                        operator="or">
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <and>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="org.eclipse.jdt.core.javanature">
                           </test>
                           <not>
                              <test
                                    property="org.eclipse.core.resources.projectNature"
                                    value="org.golo-lang.gldt.jdt.goloNature">
                              </test>
                           </not>
                        </and>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.golo-lang.gldt.jdt.commands.toggleGoloNatureCommand"
               label="Remove Golo nature"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="true"
                        operator="or">
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="org.golo-lang.gldt.jdt.goloNature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.golo-lang.gldt.jdt.commands.category"
            name="Golo">
      </category>
      <command
            categoryId="org.golo-lang.gldt.jdt.commands.category"
            id="org.golo-lang.gldt.jdt.commands.toggleGoloNatureCommand"
            name="Toggle Golo nature">
      </command>
   </extension>
   <extension
         point="org.golo-lang.gldt.jdt.compiler">
      <compiler
            class="org.gololang.gldt.jdt.internal.compiler.embedded.EmbeddedCompilerFactory"
            id="org.golo-lang.gldt.jdt.compiler.embedded"
            label="Embedded compiler">
      </compiler>
   </extension>
   <extension
         id="goloCompilationMarker"
         name="Golo compilation error"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>

</plugin>
