<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target includeMode="feature" name="aether" sequenceNumber="1">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.aether.api" version="0.9.0.M4"/>
<unit id="org.eclipse.aether.impl" version="0.9.0.M4"/>
<unit id="org.eclipse.aether.spi" version="0.9.0.M4"/>
<unit id="org.eclipse.aether.transport.http" version="0.9.0.M4"/>
<unit id="org.eclipse.aether.connector.basic" version="0.9.0.M4"/>
<repository location="http://download.eclipse.org/aether/aether-core/milestones/"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.aether.maven" version="3.1.0.v20130803-2031"/>
<repository location="http://download.eclipse.org/aether/maven-aether-provider/releases/"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.apache.httpcomponents.httpclient" version="4.2.6.v201311072007"/>
<unit id="org.apache.httpcomponents.httpcore" version="4.2.5.v201311072007"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/S20131206110810/repository/"/>
</location>
</locations>
</target>
